/* Define variables if needed */
:root {
    --primary-text-color: #fff;
    --accent-color: #ff7f50; /* Change this to your desired accent color */
  }
  
  /* Apply basic styles to make it mobile-friendly */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for overall layout */
    flex-direction: column; /* Stack items vertically on small screens */
    background-color: #0f0e17;
  }
  .btn-trans {
    background-color: #ff7f50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

  .btn-trans:hover {
    background-color: whitesmoke;
    color: orangered;
  }
 
  .name {
    font-family: 'Handwind', sans-serif; /* Use the custom font */
  }
  header {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Push items to each end */
    align-items: center; /* Center items vertically */
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ff8906;
  }
  
  nav ul li {
    display: inline-block; /* Display list items horizontally with block */
    margin-left: 30px;
    transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
    color: #ff8906;
  
  }
  
  nav ul li:first-child {
    margin-left: 0; /* Remove margin for the first item */
  }
  
  nav ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Add smooth color transition */
  }
  
  nav ul li a:hover {
    color: var(--accent-color); /* Change color on hover */
  }
  
  nav ul li:hover {
    transform: translateY(-5px); /* Add elevation effect on hover */
  }
  
  main {
    flex: 1; /* Allow main content to grow and take remaining space */
    padding: 20px;
    color: #fff;
    
  }
  
  
  main section {
    margin-bottom: 30px;
  }
  
  main section h2 {
    font-size: 1.5em;
    
  }
  
  main section p {
    font-size: 1.1em;
    line-height: 1.4;
  }
  img {
    width: 550px;
    height: auto;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial shadow */
    transition: box-shadow 0.3s ease-in-out; /* Transition property */
  }
  
  img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow on hover */
  }
  
  /* Add media query for larger screens if needed */
  @media screen and (min-width: 768px) {
    header {
      padding: 20px 40px;
    }
  
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding: 40px;
    }
  
    main section {
      margin-bottom: 50px;
    }
  }
  h1 {
    font-size: 64px; /* Set the font size to 64px */
    font-family: 'Roboto', sans-serif; /* Use a cinematic font-family */
    font-weight: 700; /* Make the font bold */
    color: var(--accent-color); /* Set the color to the accent color */
    text-transform: uppercase; /* Convert text to uppercase */
    text-align: center; /* Align text to the center */
    margin: 20px 0; /* Add margin for spacing */
  }


   /* Styling for list items */
    ul.css-63qrrg {
      list-style: none;
      padding: 0;
      text-align: center;
    }

    ul.css-63qrrg li {
      background-color: black;
      color: #ff8906;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 5px;
      transition: all 0.3s ease;
    }

    ul.css-63qrrg li:hover {
      transform: scale(1.1);
    }

    /* AOS effects */
    [data-aos="fade"] {
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    [data-aos="fade"].aos-init {
      opacity: 1;
    }

    [data-aos="flip-up"] {
      transform: translateY(0);
      transition: transform 0.5s ease;
    }

    [data-aos="flip-up"].aos-animate {
      transform: translateY(-10px);
    }


  
  .project-rosaryo{
    display:flex;
    margin: auto;
    padding: 5px;
    justify-content: space-around;


    
    }
    html {
      scroll-behavior: smooth;
    }